Makefile
*~
*.sw*
aclocal.m4
autom4te.cache/
config.guess
config.log
config.status
config.sub
configure
install-sh
src/META
src/Makefile
._bcdi
._d
._ncdi
*.a
*.annot
*.cm*
*.o
*.so
config.h
config.h.in
external/Makefile.defs
