Makefile
aclocal.m4
autom4te.cache/
config.guess
config.log
config.status
config.sub
configure
install-sh
src/META
src/Makefile
src/._bcdi/
src/._d/
src/._ncdi/
src/*.a
src/*.cm*
src/*.o
src/*.so
config.h
config.h.in
external/Makefile.defs
src/IO.annot
src/MIDI.annot
src/audio.annot
src/image.annot
src/ringbuffer.annot
src/synth.annot
src/video.annot
