name: Build
on: [push]
jobs:
  cancel_previous_run:
    runs-on: ubuntu-latest
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.8.0
        with:
          access_token: ${{ github.token }}

  build:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        operating-system: [ubuntu-latest, macos-latest]
    steps:
    - name: Checkout code
      uses: actions/checkout@v1
    - name: Install OCaml
      uses: ocaml/setup-ocaml@v2
    - name: Update packages
      run: |
        sudo apt-get update
      if: matrix.operating-system != 'macos-latest'
    - name: Pin locally
      run: opam pin -y add --no-action .
    - name: Install locally (macos)
      run: opam install -y mm ao mad pulseaudio theora gstreamer # SDL and graphics fail on OSX
      if: matrix.operating-system == 'macos-latest'
    - name: Install locally (ubuntu)
      run: opam install -y mm alsa ao mad pulseaudio ocamlsdl theora graphics gstreamer
      if: matrix.operating-system != 'macos-latest'
    - name: Run tests locally
      run: opam exec dune runtest
